/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {

    body {
        font-size: 1.5vw;
    }

    header h1 {
        font-size: 5vw;
        margin: 15px auto;
    }

    .my-photo {
        width: 100%
    }

    .me {
        width: 100%;
        margin-top: 10px;
    }

    .portfolio-thumbnail {
        border: solid 3px var(--dd-blue);
    }

    #showcase-project .project-name {
        padding: 10px 25px;
    }

    .project-name {
        padding: 5px 10px;
        font-size: 1vw;
    }

    .connect {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-form {
        width: 100%;
    }

    .social-media-wrapper {
        justify-content: space-between;
    }

    .social-media-container {
        grid-template: 1fr / repeat(8, 1fr);
        margin: 20px auto;
    }

}

/* media query for tablets and smaller*/
@media screen and (max-width: 768px) {
    
    .flex-box-green, .flex-box-blue {
        border: solid 7px var(--dd-grey);
        padding: 7px;
    }

    .section-header {
        margin-bottom: 7px;
    }

    .me {
        margin-top: 7px;
    }

    .me .intro {
        margin-bottom: 15px;
    }

    .portfolio-thumbnail {
        opacity: 1;
    }

    .project-name {
        left: 0;
        opacity: 1;
        transition: none;
    }

    .portfolio-item:hover .project-name {
        transform: translate(0, 0);
    }

}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {

}