/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dd-blue: rgb(78, 205, 196);
    --dd-green: rgb(199,244,100);
    --dd-grey: rgb(85, 98, 112);
    --dd-sand: rgb(224, 228, 204);
}

body {
    font-family: Comfortaa, "Century Gothic", Helvetica, sans-serif;
    background-color: var(--dd-sand);
    color: var(--dd-sand);
    font-weight: lighter;
}

.blue-line {
    content: "";
    background-color: var(--dd-blue);
    height: 10px;
    width: 100%;
}

.grey-line {
    content: "";
    background-color: var(--dd-grey);
    height: 10px;
    width: 100%;
}

a {
    color: var(--dd-sand);
    text-decoration: none;
}

/* header styles */

header {
    background-color: var(--dd-grey);
    color: var(--dd-sand);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 4vw;
    width: 100%;
    margin: 25px auto;
}

h1 span { 
    color: var(--dd-green);
}

header nav {
    margin: 15px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    color: var(--dd-sand);
}

nav li a {
    border-radius: 10px;
    padding: 5px 15px;
}

/* main styles */

.flex-box-green {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--dd-green);
    width: 70%;
    border: solid 10px var(--dd-grey);
    border-radius: 20px;
    margin: 50px auto;
    padding: 10px;
}

.flex-box-blue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--dd-blue);
    width: 70%;
    border: solid 10px var(--dd-grey);
    border-radius: 20px;
    margin: 50px auto;
    padding: 10px;
}

.section-header {
    background-color: var(--dd-grey);
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

.section-header h2 {
    text-align: center;
}

/* about me styles */

.my-photo {
    display: flex;
    flex-wrap: wrap;
    width: 49.5%;
    background-image: url("../images/me.jpg");
    background-size: cover;
    background-position: left bottom;
    min-height: 350px;
    border: solid 15px var(--dd-grey);
}

.me {
    display: flex;
    flex-wrap: wrap;
    width: 49.5%;
    padding: 15px;
    background-color: var(--dd-grey);
    color: var(--dd-sand);
    line-height: 1.5;
}

/* portfolio style */

.portfolio-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dd-grey);
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.portfolio-grid-container {
    display: grid;
    width: 90%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
}

.portfolio-item {
    display: flex;
    position: relative;
    overflow: hidden;
}

#showcase-project {
    grid-area: 1 / 1 / 4 / 4;
    justify-self: center;
    align-self: center;
}

.portfolio-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 5px var(--dd-blue);
}

.overlay {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dd-grey);
    opacity: .6;
    transition: opacity 1s;
}

.overlay:hover, .overlay::after {
    opacity: 0;
}

#showcase-project .project-name {
    bottom: 50px;
    padding: 20px 50px;
}

.project-name {
    position: absolute;
    padding: 10px 20px;
    bottom: 15px;
    left: -300px;
    background-color: var(--dd-blue);
    opacity: 0;
    transition: transform 1s, opacity 1.5s;
    z-index: 2;
}

.project-name h3 {
    display: inline;
}

.portfolio-item:hover .project-name {
    transform: translate(300px, 0);
    opacity: 1;
}

/* social media style */

.social-media-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.social-media-container {
    display: grid;
    width: 50%;
    grid-template: repeat(4,1fr) / 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.social-media-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.social-media-icon-container {
    justify-self: right;
    align-self: center;
}

.social-media-link {
    justify-self: left;
    align-self: center;
}

/* contact me form style */

.contact-form, .connect {
    background-color: var(--dd-grey);
    width: 49.5%;
    padding: 15px;
    line-height: 1.5;
}

#reach-me h3 {
    margin-bottom: 10px;
    text-align: center;
}

.contact-form p {
    margin-bottom: 10px;
}

.contact-form label {
    display: inline-block;
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: solid 2px var(--dd-green);
    border-radius: 5px;
    opacity: 75%;
    font-family: Comfortaa, "Century Gothic", Helvetica, sans-serif;
    letter-spacing: 0.15em;
}

.contact-form input:focus, .contact-form textarea:focus {
    font-weight: bold;
    outline: none;
    opacity: 100%;
}

.contact-form button {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: var(--dd-green);
    font-family: Comfortaa, "Century Gothic", Helvetica, sans-serif;
    font-weight: bold;
    transition: background-color 1s, color 1s;
}

.contact-form button:hover {
    background-color: var(--dd-blue);
    color: var(--dd-sand);
}

/* footer styles */

footer {
    background-color: rgb(85, 98, 112);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer h2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    margin: 20px 5px 10px 0px;
}

footer h2 span {
    color: var(--dd-green);
    margin-right: 5px;
}

footer .copyright {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 10px 0;
}