/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Comfortaa, Helvetica, Arial, sans-serif;
    background-color: var(--dd-sand);
    color: var(--dd-sand);
}

:root {
    --dd-blue: rgb(78, 205, 196);
    --dd-green: rgb(199,244,100);
    --dd-grey: rgb(85, 98, 112);
    --dd-sand: rgb(224, 228, 204);
}

.blue-line {
    content: "";
    background-color: var(--dd-blue);
    height: 10px;
    width: 100%;
}

.grey-line {
    content: "";
    background-color: var(--dd-grey);
    height: 10px;
    width: 100%;
}

/* header styles */
header {
    background-color: var(--dd-grey);
    color: var(--dd-sand);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

header a {
    color: var(--dd-sand);
    text-decoration: none;
}

header h1 {
    font-size: 4vw;
    width: 100%;
    margin: 25px auto;
}

h1 span { 
    color: var(--dd-green);
}

header nav {
    margin: 15px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    color: var(--dd-sand);
}

/* main styles */

.flex-row-green {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dd-green);
    width: 70%;
    border: solid 10px var(--dd-grey);
    margin: 50px auto;
    padding: 10px;
}

.flex-row-blue {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dd-blue);
    width: 70%;
    border: solid 10px var(--dd-grey);
    margin: 50px auto;
    padding: 10px;
}

.section-header {
    background-color: var(--dd-grey);
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

.section-header h2 {
    text-align: center;
}

/* about me styles */

.me {
    display: flex;
    padding: 15px;
    background-color: var(--dd-grey);
    color: var(--dd-sand);
}

/* portfolio style */

.portfolio-grid-wrapper {
    background-color: var(--dd-grey);
    width: 100%;
    padding: 15px;
}

/* contact me style */

.contact-form {
    background-color: var(--dd-grey);
    width: 100%;
    padding: 15px;
}

/* footer styles */
footer {
    background-color: rgb(85, 98, 112);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer h2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    margin: 20px 5px 10px 0px;
}

footer h2 span {
    color: var(--dd-green);
    margin-right: 5px;
}

footer .copyright {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1vw;
    margin: 0 10px 10px 0;
}